.contacts {
  margin-top: 20px;
}

.contacts__title {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: 900;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.contacts__title {
  &::before,
  &::after  {
    position: absolute;
    content: "";
    top: 5px;
    right: 105px;

    width: 9px;
    height: 2px;
    background-color: white;
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    top: 10px;
    transform: rotate(-45deg);
  }

}

.contacts__phone {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
}


.contacts a {

  &:hover {
   color: #fbf239;
   opacity: 1;
  }

  &:active {
   color: gold;
   opacity: 1;
  }

}

.contacts__title:hover::before,
.contacts__title:hover::after {
   background-color: #fbf239;
}

.contacts__title:active::before,
.contacts__title:active::after {
   background-color: gold;
}

@media (min-width: @tablet-width) {

  .contacts {
    order: 1;
    margin: 0;
    color: black;
    margin-left: 265px;
    margin-right: 20px;
    min-width: 130px;
  }

  .contacts a {
    color: black;
  }


  .contacts__title {
    margin-bottom: 0;

    &::before,
    &::after  {

      top: 5px;
      right: -13px;

      width: 7px;
      height: 2px;
      background-color: black;
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      right: -18px;
      transform: rotate(-45deg);
    }

  }
}
