.container {
  min-width: @mobile-width;
  //max-width: @desktop-width;
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  max-width: 1072px;


  //color: #000000;
  //background-color: #ffffff;
}
/*
@media (min-width: @tablet-width) {
  .container {
    min-width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .container {
    min-width: @desktop-width;
  }
}*/
