.directions {
  background-color: #eff2f9;
  padding-top: 27px;
  text-align: center;
  line-height: 16px;
}

.directions__title {
  font-weight: 700;
  font-size: 16px;
  padding: 0 60px;
  margin-bottom: 27px;
}

.directions__list {
  .list-unstyled();
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 13px;
}

.directions__item {
  font-size: 13px;
  font-weight: 300;
  max-width: 25%;
}

.directions__button {
  display: flex;
  flex-direction: column;
  min-height: 125px;
  color: #6e6e6e;
  border: none;
  background: none;
  padding: 0;
  position: relative;
  overflow: visible;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px gold;
  }

  &:active .directions__label::before {
    opacity: 0.8;
  }
}

.directions__button--current {
  position: relative;
}

.directions__button--current::after {
  content: "";
  position: absolute;
  display: block;
  left: 44%;
  bottom: -3px;
  border: 28px solid transparent;
  border-bottom: 28px solid #f0f2f9;
  border-left: none;
  border-top: none;
  transform: rotate(-45deg) translateX(-50%);
}

.directions__label {
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: "";
    border-radius: 50%;
    width: 62px;
    height: 62px;
    background-color: #263b82;
    margin-bottom: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/sprite.png");
  }

  &--retail::before {
    //background-image: url('../img/directions-card-yellow.png');
    background-position: -476px 17px;
  }

  &--wifi::before {
    //background-image: url('../img/directions-wifi-yellow.png');
    background-position: -674px 17px;
  }

  &--call {
    padding: 0 6px;
  }

  &--call::before {
    //background-image: url('../img/directions-phone-yellow.png');
    background-position: -353px 14px;
  }

  &--logistics::before {
    //background-image: url('../img/directions-arrow-yellow.png');
    background-position: -744px 19px;
  }
}

.directions__button:hover .directions__label,
.directions__button--current .directions__label {
  color: #263b82;

  &::before {
    background-color: #fbf239;
  }

  &--retail::before {
    //background-image: url('../img/directions-card-blue.png');
    background-position: -541px 17px;
  }

  &--wifi::before {
    //background-image: url('../img/directions-wifi-blue.png');
    background-position: -607px 17px;
  }

  &--call::before {
    //background-image: url('../img/directions-phone-blue.png');
    background-position: -413px 14px;
  }

  &--logistics::before {
    //background-image: url('../img/directions-arrow-blue.png');
    background-position: -815px 19px;
  }
}

@media (min-width: @tablet-width) {
  .directions {
    background-color: #eff2f9;
    min-height: 268px;
    padding: 0;
    padding-top: 50px;
    position: relative;
  }

  .directions__list {
    max-width: 953px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .directions__item {
    max-width: none;
  }

  .directions__title {
    font-size: 36px;
    line-height: 38px;
    margin: 0;
    padding: 0;
    margin-bottom: 38px;
    flex-wrap: wrap;
  }

  .directions__button {
    display: table;
    font-family: inherit;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    min-height: 85px;
    padding: 2px 10px 10px 95px;
    width: auto;
    position: relative;
  }

  .directions__label {
    border-bottom: 1px dotted #6e6e6e;
    width: auto;
    margin: 0;
    position: relative;
    display: inline-block;
    padding-top: 15px;
    padding-left: 0;
    padding-bottom: 0;
  }

  .directions__label::before {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 62px;
    height: 62px;
    top: 0;
    left: -80px;
  }

  .directions__button--call {
    padding: 0;
  }

  .directions__button--current .directions__label {
    border-bottom: none;
  }

  .directions__button--current::after {
    left: 56%;
    bottom: -23px;
  }
}
