
.feedback__toggles .popup__toggle {
  padding: 5px 7px;
}



@media (min-width: @tablet-width) {

  .feedback__wrapper {
    top: 71px;
    width: 100%;
    max-width: 952px;
    padding-bottom: 25px;

  }

  .feedback__form {
    padding-bottom: 0;
    padding: 39px;
    padding-top: 32px;
    padding-bottom: 30px;
    justify-content: center;
  }


  .feedback__title {
    margin: 0;
    margin-top: 5px;

  }

  .feedback  .feedback__toggles {
    min-width: 420px;
    margin-left: 10px;
    margin-top: 30px;
    min-height: 34px;
  }



  .feedback .feedback__toggle {
    width: auto;
    padding: 0 15px;

  }

/*
  .feedback .form__group-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .feedback .form__field {
    &:nth-child(4) {
      width: 100%;
    }
  }


  .feedback__form .form__group {
    max-height: 824px;
    //border: 1px solid red;
    margin: 0;
    //display: inline-block;
    //display: flex;
    //flex-direction: row;
    &:nth-child(4) {
      width: 50%;
    }

  }*/

  .feedback__form .form__appeal-text {
      height: 110px;
  }

  .feedback__form .form__field {
    //width: auto;

  }

  .feedback__form .form__input {
    //width: auto;
  }

  .feedback .form__submit {
    margin: 0;

    width: 192px;
  }

}



