.main-menu__item {
  position: relative;

}

.main-menu__title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;

  &:hover {
    color: #fbf239;
  }

  &:focus {
    color: gold;
  }

  &:active {
    opacity: 0.5;
  }

}

.main-menu__title::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 13px;

  width: 20px;
  height: 20px;
  border: 1px solid #405f9d;
  border-radius: 50%;
  background: url('../img/menu-expand-white.png') no-repeat center;
}

.main-menu__title:hover::after {
  background-image:url('../img/menu-expand-yellow.png');
}


.main-menu__item {
  padding-top: 14px;
  padding-bottom: 12px;
  border-bottom: 1px solid #21509f;
}

@media (max-width: @mobile-width-only) {


  .main-menu__item .main-menu__site-list {
    display: none;
  }

  .main-menu__item--expanded .main-menu__site-list {
    display: block;
  }

  .main-menu__item--expanded .main-menu__title {
    color: #fbf239;
    &::after {
      background: url(../img/menu-expand-yellow.png) no-repeat center;
      transform: rotate(180deg);
    }
  }

}

@media (min-width: @tablet-width) {

  .main-menu__site-list,
  .main-menu__title::after {
    display: none;
  }

  .main-menu {
    display: flex;
    justify-content: center;
    min-height: 43px;
    align-items: center;
    margin: 0 auto;
    order: 4;

  }


  .main-menu__item {
    border: none;
    padding: 0;
    margin: 12px 13px;
  }

  .main-menu__title {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
  }



  .main-menu__item::last-child {
    margin-right: 0px;
  }
}
