.offers {
  background-color: #d8dbe6;
}

.offers__wrapper {
  max-width: @desktop-width;
  margin: 0 auto;
}




@media (min-width: @tablet-width) {

  .offers__directions {
    background-color: #eff2f9;
    min-height: 268px;

    //margin-top: -220px;
  }
}

