.user-list {
  .list-unstyled();
  display: flex;
  flex-shrink: 1;
}

.user-list__item {
  position: relative;
  width: 35px;
  height: 35px;
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.user-list__btn {
  display: block;
  background: none;
  width: 35px;
  height: 35px;
  border: 1px solid #3d5b99;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/sprite.png");

  position: relative;

  &--login {
    //background-image: url(../img/menu-login-white.png);
    background-position: -72px 7px;
  }

  &--phone {
    //background-image: url(../img/menu-phone-white.png);
    background-position: -314px 7px;
  }

  &--search {
    //background-image: url(../img/menu-search-white.png);
    background-position: -216px 7px;
  }

  &--login:hover {
    //background-image: url(../img/menu-login-black.png);
    background-position: -119px 7px;
  }

  &--phone:hover {
    //background-image: url(../img/menu-phone-black.png);
    background-position: -264px 7px;
  }

  &--search:hover {
    //background-image: url(../img/menu-search-black.png);
    background-position: -166px 7px;
  }

  &:hover {
    background-color: #fbf239;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px gold;
  }

  &:active {
    background-color: gold;
  }
}


.user-list__text {
  display: none;
}

@media (min-width: @tablet-width) {
  .user-list {
    order: 3;
    min-width: 120px;
  }

  .user-list__item:hover .user-list__text {
    display: block;
    position: absolute;
    z-index: 5;
    top: 42px;
    right: 0;
    padding: 0 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    word-wrap: normal;
    background-color: #000000;
    color: #ffffff;
  }

  .user-list__btn {
    display: block;
    width: 35px;
    height: 35px;
    border: 1px solid #eaeaea;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;

    &--login {
      //background-image: url(../img/menu-login-black.png);
      background-position: -119px 7px;
    }

    &--phone {
      //background-image: url(../img/menu-phone-black.png);
      background-position: -264px 7px;
    }

    &--search {
      //background-image: url(../img/menu-search-black.png);
      background-position: -166px 7px;
    }

    &:hover {
      background-color: #fbf239;
    }
  }
}
