html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  //text-align: center;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #002672;
}

/*.shadowed::after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
}*/


ul  {
  padding: 0;
  margin: 0;
  list-style: none;

}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}


/*
img {
  max-width: 100%;
  height: auto;
}*/


@media (min-width: @tablet-width) {
  /*.shadowed::after {
    display: none;
  }*/

  main {
    min-width: 780px;
    width: 100%;
    overflow: hidden;
  }
}

