@import "node_modules/normalize.css/normalize.css";
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto-thin-100.woff2") format("woff2"), url("../fonts/roboto-thin-100.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-light-300.woff2") format("woff2"), url("../fonts/roboto-light-300.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-regular-400.woff2") format("woff2"), url("../fonts/roboto-regular-400.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-medium-500.woff2") format("woff2"), url("../fonts/roboto-medium-500.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-bold-700.woff2") format("woff2"), url("../fonts/roboto-bold-700.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-black-900.woff2") format("woff2"), url("../fonts/roboto-black-900.woff") format("woff");
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #eff2f9;
  color: #002672;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.page-header {
  background-color: #ffffff;
}
.page-header__logo-wrapper {
  min-height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 14px;
  padding-bottom: 6px;
}
.page-header__logo {
  margin-left: 14px;
}
.page-header__logo img {
  width: 162px;
  height: 39px;
}
.page-header__toggle {
  padding: 0;
  width: 35px;
  height: 35px;
  z-index: 10;
  background: none;
  margin-right: 17px;
  outline: none;
  border: 2px solid transparent;
}
.page-header__toggle::before {
  position: absolute;
  content: "";
  top: 30px;
  right: 23px;
  width: 24px;
  height: 4px;
  background-color: #163074;
  -webkit-box-shadow: 0 7px 0 0 #163074, 0 14px 0 0 #163074;
          box-shadow: 0 7px 0 0 #163074, 0 14px 0 0 #163074;
}
.page-header__toggle:hover::before {
  background-color: #fbf239;
  -webkit-box-shadow: 0 7px 0 0 #fbf239, 0 14px 0 0 #fbf239;
          box-shadow: 0 7px 0 0 #fbf239, 0 14px 0 0 #fbf239;
}
.page-header__toggle:active::before {
  background-color: gold;
  -webkit-box-shadow: 0 7px 0 0 gold, 0 14px 0 0 gold;
          box-shadow: 0 7px 0 0 gold, 0 14px 0 0 gold;
}
.page-header__toggle:focus {
  border-color: gold;
}
.page-header--closed .main-nav {
  display: none;
}
@media (max-width: 779px) {
  .page-header--opened .main-nav {
    position: absolute;
    top: 0;
    right: 0;
    overflow: auto;
  }
  .page-header--opened::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .page-header--opened .page-header__toggle {
    z-index: 6;
    padding: 0;
    margin-bottom: 10px;
    margin-right: 15px;
    height: 30px;
  }
  .page-header--opened .page-header__toggle::before,
  .page-header--opened .page-header__toggle::after {
    position: absolute;
    content: "";
    z-index: 10;
    top: 34px;
    right: 21px;
    width: 25px;
    height: 1px;
    background-color: #82a2e0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .page-header--opened .page-header__toggle::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .page-header--opened .page-header__toggle:hover::before,
  .page-header--opened .page-header__toggle:hover::after {
    background-color: #fbf239;
  }
  .page-header--opened .page-header__toggle:active::before,
  .page-header--opened .page-header__toggle:active::after {
    background-color: gold;
  }
  .page-header--nojs .page-header__toggle {
    display: none;
  }
  .page-header--nojs .site-list {
    display: block;
  }
  .page-header--nojs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .page-header--nojs .main-nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 780px) {
  .page-header {
    display: block;
    margin-bottom: 0;
    padding-bottom: 0;
    min-width: 780px;
  }
  .page-header__toggle {
    display: none;
  }
  .page-header__logo img {
    width: 198px;
    height: 47px;
  }
  .page-header__logo-wrapper {
    max-width: 1072px;
    margin: 0 auto;
    padding-left: 15px;
    padding-top: 14px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .page-header--closed .page-header__main-nav,
  .page-header--opened .page-header__main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    position: relative;
    padding: 0;
    margin-top: -72px;
    background: none;
  }
}
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 296px;
  background-color: #123885;
  z-index: 5;
  padding: 24px;
  padding-top: 74px;
}
.main-nav__topline {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.main-nav__wrapper {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (min-width: 780px) {
  .main-nav__topline {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main-nav__topline .topline__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1072px;
    min-height: 80px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
  }
}
.options {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 20px;
  left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 187px;
}
.options__item--current {
  color: #ffffff;
  position: relative;
}
.options__item--current::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -10px;
  left: 0;
  height: 4px;
  background: #fbf239;
}
.options__item button {
  padding: 0;
  background: none;
  border: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #41609d;
}
.options__item button:hover {
  color: #fbf239;
}
.options__item button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px gold;
          box-shadow: 0 0 0 3px gold;
}
.options__item button:active {
  color: #ffffff;
}
.options__item--current button {
  color: #ffffff;
}
@media (min-width: 780px) {
  .options {
    position: static;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    min-width: 22%;
    margin-left: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .options__item button {
    color: #cbcace;
    font-size: 20px;
    font-weight: 700;
  }
  .options__item button:active {
    color: gold;
  }
  .options__item--current button {
    color: #002672;
  }
  .options__item--current {
    margin-right: 0;
  }
  .options__item--current::after {
    top: 25px;
  }
}
.main-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-menu__item {
  position: relative;
  padding-top: 14px;
  padding-bottom: 12px;
  border-bottom: 1px solid #21509f;
}
.main-menu__title {
  background: none;
  border: none;
  padding: 0;
  width: 100%;
  text-align: left;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.main-menu__title:hover {
  color: #fbf239;
}
.main-menu__title:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px gold;
          box-shadow: 0 0 0 3px gold;
}
.main-menu__title:active {
  opacity: 0.5;
}
.main-menu__title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 13px;
  width: 20px;
  height: 20px;
  border: 1px solid #405f9d;
  border-radius: 50%;
  background-image: url("../img/sprite.png");
  background-position: 4px 6px;
}
.main-menu__title:hover::after {
  background-position: -36px 6px;
}
@media (max-width: 779px) {
  .main-menu__site-list {
    display: none;
  }
  .main-menu__item--expanded .main-menu__site-list {
    display: block;
  }
  .main-menu__item--expanded .main-menu__title {
    color: #fbf239;
  }
  .main-menu__item--expanded .main-menu__title::after {
    background-position: -36px 6px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@media (min-width: 780px) {
  .main-menu__site-list,
  .main-menu__title::after {
    display: none;
  }
  .main-menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 43px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    background-color: #002672;
  }
  .main-menu__item {
    border: none;
    padding: 0;
    margin: 12px 13px;
  }
  .main-menu__title {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
  }
}
.site-list {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 5px;
  padding-bottom: 8px;
}
.site-list__item a {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.2;
}
.site-list__item a:hover {
  opacity: 1;
  color: #fbf239;
}
.site-list__item a:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px gold;
          box-shadow: 0 0 0 3px gold;
  opacity: 1;
}
.site-list__item a:active {
  opacity: 0.5;
}
.about {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 24px;
  margin-bottom: 60px;
}
.about__item {
  padding-left: 9px;
  padding-right: 9px;
  margin-bottom: 8px;
}
.about__item:nth-child(3n+1) {
  padding-left: 0;
}
.about__item--news {
  border-left: 1px solid #3f5e9b;
  border-right: 1px solid #3f5e9b;
}
.about__item a {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.2;
}
.about__item a:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px gold;
          box-shadow: 0 0 0 3px gold;
  color: #fbf239;
  opacity: 1;
}
.about__item a:hover {
  color: #fbf239;
  opacity: 1;
}
.about__item a:active {
  color: gold;
  opacity: 1;
}
@media (min-width: 780px) {
  .about {
    display: none;
  }
}
.user-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.user-list__item {
  position: relative;
  width: 35px;
  height: 35px;
  margin-right: 8px;
}
.user-list__item:last-child {
  margin-right: 0;
}
.user-list__btn {
  display: block;
  background: none;
  width: 35px;
  height: 35px;
  border: 1px solid #3d5b99;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/sprite.png");
  position: relative;
}
.user-list__btn--login {
  background-position: -72px 7px;
}
.user-list__btn--phone {
  background-position: -314px 7px;
}
.user-list__btn--search {
  background-position: -216px 7px;
}
.user-list__btn--login:hover {
  background-position: -119px 7px;
}
.user-list__btn--phone:hover {
  background-position: -264px 7px;
}
.user-list__btn--search:hover {
  background-position: -166px 7px;
}
.user-list__btn:hover {
  background-color: #fbf239;
}
.user-list__btn:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px gold;
          box-shadow: 0 0 0 3px gold;
}
.user-list__btn:active {
  background-color: gold;
}
.user-list__text {
  display: none;
}
@media (min-width: 780px) {
  .user-list {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-width: 120px;
  }
  .user-list__item:hover .user-list__text {
    display: block;
    position: absolute;
    z-index: 5;
    top: 42px;
    right: 0;
    padding: 0 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    word-wrap: normal;
    background-color: #000000;
    color: #ffffff;
  }
  .user-list__btn {
    display: block;
    width: 35px;
    height: 35px;
    border: 1px solid #eaeaea;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .user-list__btn--login {
    background-position: -119px 7px;
  }
  .user-list__btn--phone {
    background-position: -264px 7px;
  }
  .user-list__btn--search {
    background-position: -166px 7px;
  }
  .user-list__btn:hover {
    background-color: #fbf239;
  }
}
.contacts {
  margin-top: 20px;
}
.contacts__title {
  text-transform: uppercase;
  color: #ffffff;
  padding: 0;
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 900;
  display: block;
  min-width: 58%;
  text-align: left;
  margin-bottom: 10px;
  position: relative;
}
.contacts__title::before,
.contacts__title::after {
  position: absolute;
  content: "";
  top: 5px;
  right: 0;
  width: 9px;
  height: 2px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.contacts__title::after {
  top: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.contacts__phone {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
}
.contacts a:hover,
.contacts button:hover {
  color: #fbf239;
  opacity: 1;
}
.contacts a:active,
.contacts button:active {
  color: gold;
  opacity: 1;
}
.contacts a:focus,
.contacts button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px gold;
          box-shadow: 0 0 0 3px gold;
}
.contacts__title:hover::before {
  background-color: #fbf239;
}
.contacts__title:hover::after {
  background-color: #fbf239;
}
.contacts__title:active::before,
.contacts__title:active::after {
  background-color: gold;
}
@media (min-width: 780px) {
  .contacts {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
    color: black;
    margin-left: 265px;
    margin-right: 20px;
    min-width: 130px;
  }
  .contacts a,
  .contacts button {
    color: black;
  }
  .contacts__title {
    margin-bottom: 0;
  }
  .contacts__title::before,
  .contacts__title::after {
    top: 5px;
    right: -13px;
    width: 7px;
    height: 2px;
    background-color: black;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .contacts__title::after {
    right: -18px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
.slider {
  position: relative;
}
.slider__list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  color: white;
}
.slider__item {
  background-color: #3d4048;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 25px;
  padding-left: 25px;
  display: none;
}
.slider__item:nth-child(1) {
  background: url("../img/mobile-slide1.jpg") no-repeat center;
  background-size: cover;
  background-color: #0c2834;
}
.slider__item:nth-child(2) {
  background: url("../img/mobile-slide2.jpg") no-repeat center;
  background-size: cover;
  background-color: #2c2d3b;
}
.slider__item:nth-child(3) {
  background: url("../img/mobile-slide3.jpg") no-repeat center;
  background-size: cover;
  background-color: #3d4048;
}
.slider__item:nth-child(4) {
  background: url("../img/mobile-slide4.jpg") no-repeat center;
  background-size: cover;
  background-color: #10334d;
}
.slider__item--current {
  display: block;
}
.slider__toggles {
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
}
.slider__btn {
  position: absolute;
  top: 40%;
  outline: none;
  padding: 0;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 2;
  border: 4px solid white;
  border-right: none;
  border-top: none;
  background: none;
  cursor: pointer;
}
.slider__btn--prev {
  left: 25px;
}
.slider__btn--next {
  right: 25px;
  border: 4px solid white;
  border-bottom: none;
  border-left: none;
}
.slider__btn:hover {
  border-color: #fbf239;
}
.slider__btn:active {
  border-color: gold;
}
.slider__btn:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px gold;
          box-shadow: 0 0 0 3px gold;
  border-color: #fbf239;
}
.slider__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}
.slider__text {
  font-size: 11px;
  font-weight: 100;
  margin: 0;
}
@media (min-width: 780px) {
  .slider__item {
    background-color: #af9b94;
    min-height: 589px;
    padding-top: 138px;
    padding-bottom: 195px;
    padding-right: 25px;
    padding-left: 25px;
    width: auto;
  }
  .slider__item:nth-child(1) {
    background-image: url("../img/slide1.jpg");
    background-color: #091013;
  }
  .slider__item:nth-child(2) {
    background-image: url("../img/slide2.jpg");
    background-color: #130f16;
  }
  .slider__item:nth-child(3) {
    background-image: url("../img/slide3.jpg");
    background-color: #af9b94;
  }
  .slider__item:nth-child(4) {
    background-image: url("../img/slide4.jpg");
    background-color: #1e4f6e;
  }
  .slider__btn {
    width: 28px;
    height: 28px;
    border-width: 6px;
    top: 37.5%;
  }
  .slider__btn--prev {
    left: 44px;
  }
  .slider__btn--next {
    right: 44px;
  }
  .slider__toggles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    position: absolute;
    bottom: 224px;
  }
  .slider__toggles-item {
    margin: 0 4px;
  }
  .slider__toggle {
    width: 16px;
    height: 16px;
    border: 4px solid transparent;
    border-radius: 50%;
    background-color: white;
    background-clip: padding-box;
    padding: 0;
  }
  .slider__toggle:hover {
    background-color: #fbf239;
  }
  .slider__toggle:active {
    background-color: gold;
  }
  .slider__toggle:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 3px gold;
            box-shadow: 0 0 0 3px gold;
  }
  .slider__toggle--current {
    background-color: transparent;
    border: 3px solid #fef106;
  }
  .slider__toggle--current:hover {
    background-color: transparent;
  }
  .slider__title {
    display: inline-block;
    margin: 0;
    padding-bottom: 4px;
    font-size: 82px;
    line-height: 84px;
    font-weight: 700;
    border-bottom: 1px solid white;
  }
  .slider__text {
    font-size: 22px;
    line-height: 22px;
    padding-top: 11px;
  }
}
.offers {
  background-color: #d8dbe6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.offers__wrapper {
  max-width: 1072px;
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 780px) {
  .offers__wrapper {
    min-height: 589px;
  }
  .offers__directions {
    background-color: #eff2f9;
    min-height: 268px;
    margin-top: -114px;
  }
}
.directions {
  background-color: #eff2f9;
  padding-top: 27px;
  text-align: center;
  line-height: 16px;
}
.directions__title {
  font-weight: 700;
  font-size: 16px;
  padding: 0 60px;
  margin-bottom: 27px;
}
.directions__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 13px;
}
.directions__item {
  font-size: 13px;
  font-weight: 300;
  max-width: 25%;
}
.directions__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 125px;
  color: #6e6e6e;
  border: none;
  background: none;
  padding: 0;
  position: relative;
  overflow: visible;
}
.directions__button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px gold;
          box-shadow: 0 0 0 3px gold;
}
.directions__button:active .directions__label::before {
  opacity: 0.8;
}
.directions__button--current {
  position: relative;
}
.directions__button--current::after {
  content: "";
  position: absolute;
  display: block;
  left: 44%;
  bottom: -3px;
  border: 28px solid transparent;
  border-bottom: 28px solid #f0f2f9;
  border-left: none;
  border-top: none;
  -webkit-transform: rotate(-45deg) translateX(-50%);
          transform: rotate(-45deg) translateX(-50%);
}
.directions__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.directions__label::before {
  content: "";
  border-radius: 50%;
  width: 62px;
  height: 62px;
  background-color: #263b82;
  margin-bottom: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/sprite.png");
}
.directions__label--retail::before {
  background-position: -476px 17px;
}
.directions__label--wifi::before {
  background-position: -674px 17px;
}
.directions__label--call {
  padding: 0 6px;
}
.directions__label--call::before {
  background-position: -353px 14px;
}
.directions__label--logistics::before {
  background-position: -744px 19px;
}
.directions__button:hover .directions__label,
.directions__button--current .directions__label {
  color: #263b82;
}
.directions__button:hover .directions__label::before,
.directions__button--current .directions__label::before {
  background-color: #fbf239;
}
.directions__button:hover .directions__label--retail::before,
.directions__button--current .directions__label--retail::before {
  background-position: -541px 17px;
}
.directions__button:hover .directions__label--wifi::before,
.directions__button--current .directions__label--wifi::before {
  background-position: -607px 17px;
}
.directions__button:hover .directions__label--call::before,
.directions__button--current .directions__label--call::before {
  background-position: -413px 14px;
}
.directions__button:hover .directions__label--logistics::before,
.directions__button--current .directions__label--logistics::before {
  background-position: -815px 19px;
}
@media (min-width: 780px) {
  .directions {
    background-color: #eff2f9;
    min-height: 268px;
    padding: 0;
    padding-top: 50px;
    position: relative;
  }
  .directions__list {
    max-width: 953px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .directions__item {
    max-width: none;
  }
  .directions__title {
    font-size: 36px;
    line-height: 38px;
    margin: 0;
    padding: 0;
    margin-bottom: 38px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .directions__button {
    display: table;
    font-family: inherit;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    min-height: 85px;
    padding: 2px 10px 10px 95px;
    width: auto;
    position: relative;
  }
  .directions__label {
    border-bottom: 1px dotted #6e6e6e;
    width: auto;
    margin: 0;
    position: relative;
    display: inline-block;
    padding-top: 15px;
    padding-left: 0;
    padding-bottom: 0;
  }
  .directions__label::before {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 62px;
    height: 62px;
    top: 0;
    left: -80px;
  }
  .directions__button--call {
    padding: 0;
  }
  .directions__button--current .directions__label {
    border-bottom: none;
  }
  .directions__button--current::after {
    left: 56%;
    bottom: -23px;
  }
}
.descriptions {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #d8dbe6;
  padding-bottom: 35px;
  padding-top: 20px;
}
.descriptions__item {
  display: none;
  margin-top: -20px;
}
.descriptions__item--current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.descriptions__item:nth-child(2) .descriptions__title {
  background: url("../img/mobile-image-desc2.jpg") no-repeat center;
  background-size: cover;
}
.descriptions__title {
  min-height: 162px;
  padding-left: 24px;
  padding-right: 20%;
  padding-top: 40px;
  margin-top: 0;
  margin-bottom: 20px;
}
.descriptions__title span {
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #162451;
  background-color: #f3e818;
  margin: -3px 0 0 -9px;
  padding: 2px 11px 2px 9px;
}
.descriptions__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: #353535;
  margin: 0;
  margin-bottom: 25px;
  padding: 0 24px;
  padding-right: 30px;
}
.descriptions__button {
  text-align: center;
  font-size: 13px;
  line-height: 14px;
  font-weight: 400;
  color: #f0f2f9;
  padding: 9px 50px;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 24px;
  background-color: #263b82;
  border: 3px solid #263b82;
}
.descriptions__button:hover {
  color: #263b82;
  background-color: transparent;
  border-color: #263b82;
}
.descriptions__button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px gold;
          box-shadow: 0 0 0 3px gold;
}
.descriptions__button:active {
  background-color: #263b82;
  color: gold;
}
@media (min-width: 780px) {
  .descriptions__item {
    display: none;
  }
  .descriptions__item--current {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding: 60px 0 0 408px;
  }
  .descriptions__item--current:nth-child(2)::before {
    background: url("../img/image-desc2.jpg") no-repeat center;
    background-size: cover;
  }
  .descriptions__item::before {
    content: "";
    position: absolute;
    left: 70px;
    width: 294px;
    height: 294px;
    border-radius: 50%;
    background-color: #cfcdd7;
    border: 12px solid #eff2f9;
  }
  .descriptions__item:nth-child(2) .descriptions__title {
    background-image: none;
  }
  .descriptions__title {
    min-height: auto;
    max-width: 530px;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 20px;
    padding-left: 4px;
    padding-right: 80px;
    color: #123885;
  }
  .descriptions__title span {
    font-size: 34px;
    line-height: 34px;
    font-weight: 700;
    background-color: none;
    position: relative;
    padding: 0 12px 0 9px;
    margin: 0 0 0 -12px;
    -webkit-box-shadow: 0 -12px 0 0 #f3e818;
            box-shadow: 0 -12px 0 0 #f3e818;
    z-index: 0;
  }
  .descriptions__title span:nth-child(1) {
    z-index: 3;
  }
  .descriptions__title span:nth-child(2) {
    z-index: 2;
  }
  .descriptions__title span:nth-child(3) {
    -webkit-box-shadow: 0 8px 0 0 #f3e818, 0 -12px 0 0 #f3e818;
            box-shadow: 0 8px 0 0 #f3e818, 0 -12px 0 0 #f3e818;
    z-index: 1;
  }
  .descriptions__title span:nth-child(4) {
    -webkit-box-shadow: 0 8px 0 0 #f3e818, 0 -12px 0 0 #f3e818;
            box-shadow: 0 8px 0 0 #f3e818, 0 -12px 0 0 #f3e818;
  }
  .descriptions__text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: #353535;
    padding: 0;
    padding-right: 20%;
    margin: 0;
    margin-bottom: 28px;
  }
  .descriptions__button {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    -ms-flex-item-align: start;
        align-self: flex-start;
    color: #123885;
    padding: 18px 30px;
    width: 62%;
    margin: 0;
    margin-left: -5px;
    background-color: transparent;
    border: 3px solid #123885;
  }
  .descriptions__button:hover {
    background-color: #123885;
    color: #f3e818;
  }
  .descriptions__button:active {
    background-color: #114185;
    color: gold;
  }
}
.info {
  background-color: #eff2f9;
}
.info__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 185px;
  padding-top: 43px;
  padding-bottom: 20px;
}
.info__button {
  border: none;
  background: none;
  color: #bfbfbf;
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  min-height: 25px;
  border-bottom: 4px solid transparent;
}
.info__button--current {
  color: #263b82;
  border-color: #fbf239;
}
.info__button:hover {
  color: #263b82;
}
.info__button:active {
  color: gold;
}
.info__button:focus {
  color: #263b82;
  outline: none;
  -webkit-box-shadow: 0 0 0 3px gold;
          box-shadow: 0 0 0 3px gold;
}
.info__content {
  padding: 0;
  margin: 0;
  list-style: none;
}
.info__content--active {
  margin: 0 20px;
}
.info__toggles {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 58px;
  padding-bottom: 25px;
}
.info__toggle {
  background: none;
  border: none;
  padding: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #d8dbe6;
}
.info__toggle--current {
  background-color: #263b82;
}
.info__toggle:hover {
  background-color: #263b82;
}
.info__toggle:active {
  background-color: #fbf239;
}
.info__toggle:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px gold;
          box-shadow: 0 0 0 3px gold;
}
@media (min-width: 780px) {
  .info {
    padding-bottom: 45px;
  }
  .info__toggles {
    display: none;
  }
  .info__content {
    max-width: 1112px;
    margin: 0 auto;
  }
  .info__buttons {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 300px;
    padding-top: 45px;
    padding-right: 17px;
    margin-bottom: 23px;
  }
  .info__button {
    font-size: 26px;
    line-height: 26px;
    min-height: 40px;
  }
}
.content__block {
  display: none;
}
.content__block--current {
  display: block;
}
.content__list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 0 20px;
  margin-bottom: 22px;
}
.content__item {
  display: none;
}
.content__item--current {
  display: block;
}
.content__title {
  color: #263b82;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}
.content__text {
  font-size: 14px;
  line-height: 18px;
  color: #373737;
  margin: 10px 0;
  margin-right: 5px;
}
.content__button {
  display: none;
}
.content__date {
  font-size: 12px;
  line-height: 16px;
  color: #bfbfbf;
}
@media (min-width: 780px) {
  .content__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0;
  }
  .content__item {
    display: block;
    width: calc(33.3% - 21.3px);
    margin-bottom: 27px;
  }
  .content__title {
    color: #263b82;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    margin-bottom: 14px;
  }
  .content__text {
    font-size: 16px;
    line-height: 22px;
  }
  .content__button {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #123885;
    padding: 18px 30px;
    width: 100%;
    max-width: 336px;
    margin: 0 auto;
    background-color: transparent;
    border: 3px solid #123885;
  }
  .content__button:hover {
    background-color: #123885;
    color: #f3e818;
  }
  .content__button:active {
    background-color: #114185;
    color: gold;
  }
  .content__button:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 3px gold;
            box-shadow: 0 0 0 3px gold;
  }
}
.popup {
  display: none;
}
.popup--active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 11;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup__wrapper {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
}
.popup__title {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  color: #123885;
  margin: 0;
  margin-left: 14px;
  margin-bottom: 27px;
}
.popup__btn-close {
  border: 3px solid transparent;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 0;
  width: 35px;
  height: 35px;
  background: none;
  position: relative;
}
.popup__btn-close:focus {
  outline: none;
  border-color: gold;
}
.popup__btn-close::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 2px;
  width: 16px;
  height: 16px;
  border: solid #7495d9;
  border-width: 0 0 1px 1px;
  padding: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popup__btn-close::after {
  position: absolute;
  content: "";
  top: 13px;
  left: 0;
  width: 25px;
  height: 1px;
  background-color: #82a2e0;
}
.popup__btn-close:hover::before {
  border-color: #123885;
}
.popup__btn-close:hover::after {
  background-color: #123885;
}
.popup__btn-close:active::before {
  border-color: rgba(18, 56, 133, 0.3);
}
.popup__btn-close:active::after {
  background-color: rgba(18, 56, 133, 0.3);
}
.popup__toggles {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 28px;
}
.popup__toggle {
  width: 100%;
  padding: 10px;
  background: none;
  border: 1px solid #97adef;
  font-family: inherit;
  font-size: 12px;
  line-height: 12px;
  color: #263b82;
}
.popup__toggle:hover {
  color: white;
  background-color: #263b82;
}
.popup__toggle:active {
  background-color: #114185;
  color: rgba(255, 255, 255, 0.5);
}
.popup__toggle:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px gold;
          box-shadow: 0 0 0 3px gold;
}
.popup__toggle:first-child {
  border-radius: 20px 0 0 20px;
}
.popup__toggle:last-child {
  border-radius: 0 20px 20px 0;
}
.popup__tabs {
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  width: 100%;
}
.popup__help {
  border: 2px solid #fbf239;
  width: 22px;
  height: 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  border-radius: 50%;
  margin-top: 3px;
  margin-left: 12px;
  cursor: pointer;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.popup__help-text {
  display: none;
}
.popup__help:hover .popup__help-text {
  display: block;
  position: absolute;
  top: 60px;
  left: 35px;
  padding: 10px 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  word-wrap: normal;
  max-width: 230px;
  background-color: #000000;
  color: #ffffff;
}
.popup__help:hover .popup__help-text::before {
  content: "";
  position: absolute;
  top: -15px;
  right: 47px;
  border: solid 9px transparent;
  border-bottom: solid 7px #000000;
}
@media (min-width: 780px) {
  .popup--active {
    left: -10px;
  }
  .popup__wrapper {
    position: absolute;
    top: 132px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 704px;
    padding: 0 25px 31px;
  }
  .popup__title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 26px;
    line-height: 80px;
    font-weight: 700;
    margin: 6px 20px 0 7px;
  }
  .popup__btn-close {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: absolute;
    top: 12px;
    right: 15px;
  }
  .popup__btn-close::before {
    top: 6px;
    left: -4px;
    width: 16px;
    height: 16px;
    border: solid black;
    border-width: 0 0 1px 1px;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  .popup__btn-close::after {
    background-color: transparent;
    top: 6px;
    left: 17px;
    width: 16px;
    height: 16px;
    border: solid black;
    border-width: 0 0 1px 1px;
    padding: 3px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .popup__btn-close:hover::before {
    border-color: rgba(0, 0, 0, 0.6);
  }
  .popup__btn-close:hover::after {
    border-color: rgba(0, 0, 0, 0.6);
    background-color: transparent;
  }
  .popup__btn-close:active::before,
  .popup__btn-close:active::after {
    border-color: rgba(0, 0, 0, 0.3);
  }
  .popup__help {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 35px;
    margin-right: 15px;
  }
  .popup__help:hover .popup__help-text {
    z-index: 12;
    top: 70px;
    left: 35px;
    padding: 7px;
  }
  .popup__help:hover .popup__help-text::before {
    right: 15px;
  }
  .popup__toggles {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 274px;
    width: auto;
    margin: 34px 8px 28px;
  }
  .popup__toggle {
    font-size: 14px;
    line-height: 12px;
  }
}
.account__toggle--current {
  color: white;
  background-color: #263b82;
}
.account__tab {
  display: none;
}
.account__tab--current {
  display: block;
}
.feedback__toggle {
  padding: 5px 7px;
}
.feedback__toggle--current {
  color: white;
  background-color: #263b82;
}
.feedback__tab {
  display: none;
}
.feedback__tab--current {
  display: block;
}
@media (min-width: 780px) {
  .feedback__wrapper {
    top: 71px;
    width: 100%;
    max-width: 952px;
    padding-bottom: 25px;
  }
  .feedback__form form {
    padding: 39px;
    padding-top: 32px;
    padding-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feedback__title {
    margin: 0;
    margin-top: 5px;
  }
  .feedback .feedback__toggles {
    min-width: 420px;
    margin-left: 10px;
    margin-top: 30px;
    min-height: 34px;
  }
  .feedback .feedback__toggle {
    width: auto;
    padding: 0 15px;
  }
  .feedback__form .form__appeal-text {
    height: 110px;
  }
  .feedback .form__submit {
    margin: 0 auto;
    width: 192px;
  }
}
.form {
  background-color: #f0f2f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 17px 30px 17px;
}
.form__field {
  margin-bottom: 14px;
}
.form__input {
  padding: 15px;
  width: 100%;
  height: 56px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  border: solid 1px transparent;
  outline: 0;
}
.form__input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 300;
  color: #b3b3b3;
}
.form__input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 300;
  color: #b3b3b3;
}
.form__input::placeholder {
  font-size: 14px;
  font-weight: 300;
  color: #b3b3b3;
}
.form__input:focus {
  border-color: #97aeef;
  -webkit-box-shadow: 0 0 10px 0 rgba(85, 119, 231, 0.31);
          box-shadow: 0 0 10px 0 rgba(85, 119, 231, 0.31);
}
.form__input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 300;
}
.form__submit {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #123885;
  margin: 6px 0 21px;
  padding: 18px;
  width: 100%;
  background-color: transparent;
  border: 3px solid #123885;
}
.form__submit:hover {
  background-color: #123885;
  color: white;
}
.form__submit:active {
  background-color: #114185;
  color: rgba(255, 255, 255, 0.5);
}
.form__submit:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px gold;
          box-shadow: 0 0 0 3px gold;
}
.form__group {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.form__title {
  font-size: 14px;
  color: #757575;
  margin-bottom: 10px;
}
.form__note {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #898989;
}
.form__appeal-text {
  height: 110px;
  overflow: auto;
  resize: none;
}
.form__field--double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form__field--double .form__input {
  max-width: 47%;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
.form__field--double .form__input::-webkit-outer-spin-button,
.form__field--double .form__input::-webkit-inner-spin-button {
  display: none;
}
.form__field--city .form__input {
  background-color: #fff42c;
  position: relative;
}
.form__field--city .form__input::-webkit-calendar-picker-indicator {
  display: none;
}
.form__field--city {
  position: relative;
}
.form__field--city::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 17px;
  width: 7px;
  height: 7px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
@media (min-width: 780px) {
  .form {
    padding: 40px 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  .form__field {
    margin-bottom: 18px;
    width: 282px;
  }
  .form__submit {
    margin: 0 auto;
    margin-top: 19px;
    width: 273px;
    font-weight: 500;
    font-size: 18px;
  }
  .form__group-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    max-width: 824px;
  }
  .form__group--client {
    width: 824px;
  }
  .form__group--address {
    margin-bottom: 8px;
  }
  .form__group--type {
    margin-right: 10px;
    width: 49%;
  }
  .form__group--topic {
    width: 49%;
    margin-right: 0;
  }
  .form__group--text {
    width: 100%;
    margin-bottom: 0;
  }
  .form__group--client .form__field,
  .form__group--address .form__field {
    width: 29.5%;
  }
  .form__group--client .form__field:nth-child(1),
  .form__group--address .form__field:nth-child(1) {
    width: 37.9%;
  }
  .form__group--type .form__field,
  .form__group--topic .form__field,
  .form__group--text .form__field {
    width: auto;
  }
  .form__note {
    position: absolute;
    bottom: 15px;
    right: 6px;
    width: 130px;
    margin: 0;
  }
  .form__note::before {
    position: absolute;
    content: "";
    top: -13px;
    left: -40px;
    border: solid 14px transparent;
    border-bottom: solid 23px #fff42c;
  }
  .form__note::after {
    position: absolute;
    content: "!";
    top: 9px;
    left: -28px;
    font-weight: 500;
    font-size: 12px;
  }
}
/* Кастомный селектор, немного переделанный и взятый отсюда:
https://www.w3schools.com/howto/howto_custom_select.asp
*/
/* The container must be positioned relative: */
.custom-select {
  position: relative;
}
.custom-select__select {
  display: none;
  /*hide original SELECT element: */
}
/* Style the arrow inside the select element: */
.select-selected::after {
  position: absolute;
  content: "";
  top: 24px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
}
.custom-select .select-placeholder {
  padding-top: 17px;
  font-size: 14px;
  font-weight: 300;
  color: #b3b3b3;
}
/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active {
  font-size: 12px;
  color: #757575;
  -webkit-box-shadow: 0 0 10px 0 rgba(85, 119, 231, 0.31);
          box-shadow: 0 0 10px 0 rgba(85, 119, 231, 0.31);
}
.select-selected.select-arrow-active::after {
  border-color: transparent transparent #cccccc transparent;
  top: 14px;
}
/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  padding: 15px;
  padding-top: 17px;
  width: 100%;
  height: 56px;
  color: black;
  background-color: white;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  border: solid 1px transparent;
  outline: 0;
}
.select-items div:focus,
.select-selected:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px gold;
          box-shadow: 0 0 0 3px gold;
}
.select-items div {
  height: 41px;
  padding: 12px 15px;
}
.select-items div:focus {
  background-color: #fff42c;
}
/* Style items (options): */
.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-color: #97aeef;
  -webkit-box-shadow: 0 5px 10px 0 rgba(85, 119, 231, 0.31);
          box-shadow: 0 5px 10px 0 rgba(85, 119, 231, 0.31);
}
/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}
.select-items div:hover,
.same-as-selected {
  background-color: #fff42c;
}
