body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid black;
}
/*
img {
  max-width: 100%;
  height: auto;
}*/
a {
  text-decoration: none;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  max-width: 1072px;
}
/*
@media (min-width: @tablet-width) {
  .container {
    min-width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .container {
    min-width: @desktop-width;
  }
}*/
@media (min-width: 780px) {
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0px;
    padding-bottom: 0px;
    min-width: 780px;
    border: 1px solid black;
  }
}
@media (min-width: 1072px) {
  /*
  .page-header {
    display: flex;
    justify-content: center;
  }

  .page-header__logo img {
    width: 188px;
    height: 96px;
    margin-bottom: -96px;
  }*/
}
/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v18-cyrillic_latin-regular.woff2') format('woff2'), url('../fonts/roboto-v18-cyrillic_latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/roboto-v18-cyrillic_latin-700.woff2') format('woff2'), url('../fonts/roboto-v18-cyrillic_latin-700.woff') format('woff');
}
/*roboto-700 - cyrillic_latin */
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 15px;
}
.main-nav__toggle {
  position: absolute;
  display: block;
  width: 32px;
  height: 55px;
  top: 0;
  right: 0;
  border: none;
  background: transparent;
  z-index: 1;
}
.main-nav__sidebar {
  width: 300px;
  background-color: #002e7d;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  padding-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-nav__options {
  position: absolute;
  top: 10px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
  font-size: 18px;
  line-height: 40px;
}
.options__item--current {
  position: relative;
}
.options__item--current::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -3px;
  left: 0;
  height: 5px;
  background: #ffed08;
}
.main-nav__headline {
  position: relative;
}
.main-nav__headline a {
  color: white;
}
.main-nav__headline a:visited {
  color: white;
}
.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav__list a {
  color: white;
}
.site-list {
  position: relative;
}
.site-list__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: #21509f;
}
.site-list__item a {
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  color: #406ebd;
}
.site-list__item a:hover {
  color: #f6f056;
}
.site-list__item a:focus {
  color: #f6f056;
}
.site-list__item a:active {
  color: #f6f056;
}
.site-list__expand {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  border: none;
  background: red;
  border-radius: 50%;
}
.main-nav--closed .main-nav__sidebar {
  display: none;
}
@media (max-width: 779px) {
  .main-nav--closed .main-nav__toggle::before {
    position: absolute;
    content: "";
    right: 20px;
    bottom: 39px;
    width: 24px;
    height: 4px;
    background-color: #163074;
    -webkit-box-shadow: 0 8px 0 0 #163074, 0 16px 0 0 #163074;
            box-shadow: 0 8px 0 0 #163074, 0 16px 0 0 #163074;
  }
  .main-nav--opened .main-nav__sidebar {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
  .main-nav--opened .main-nav__toggle::before,
  .main-nav--opened .main-nav__toggle::after {
    position: absolute;
    content: "";
    top: 26px;
    left: 3px;
    width: 24px;
    height: 4px;
    background-color: red;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .main-nav--opened .main-nav__toggle::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__list {
    display: block;
  }
  .main-nav__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .main-nav__about a {
    padding: 10px;
    color: #4b77c5;
    position: relative;
  }
  .main-nav__about a:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 20px;
    background-color: red;
  }
}
@media (min-width: 780px) {
  .site-list,
  .site-list__expand,
  .main-nav__about,
  .main-nav__toggle {
    display: none;
  }
  .main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: static;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
  }
  .main-nav--closed .main-nav__sidebar,
  .main-nav__sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: none;
  }
  .main-nav__topline {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 90px;
  }
  .main-nav__bottomline {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background: #002166;
    min-height: 50px;
  }
  /*
  .page-header__logo {
    position:absolute;
    left: 18.3%;

  }
*/
  .page-header__logo-wrapper {
    display: block;
    z-index: 10;
    max-width: 1072px;
    margin: 0 auto;
    padding-left: 32px;
    padding-top: 16px;
  }
  .main-nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 65%;
    max-width: 1072px;
    margin: 0 auto;
    border: 1px dashed black;
  }
  .main-menu__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 65%;
    max-width: 1072px;
    margin: 0 auto;
  }
  .main-menu__item {
    margin-right: 30px;
  }
  .main-menu__item::last-child {
    margin-right: 0px;
  }
  .main-nav__contacts {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    border: 1px solid red;
    width: 155px;
    margin: 0;
    margin-left: 265px;
    color: black;
  }
  .main-nav__options {
    position: static;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    border: 1px solid red;
    width: 240px;
    color: #cbcace;
  }
  .user-list {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    border: 1px solid red;
    width: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-menu {
    border: 1px solid red;
    width: 100%;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}
@media (min-width: 1072px) {
  .page-header__logo {
    left: 50%;
  }
}
